body {
	background: #fcfcfc;
}

#main {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 4%;
	font-weight:300;
	font-family: 'Open Sans', Verdana;
	text-align: center;
}

header {
	margin-bottom: 2em;
}